<% title "Todo Lists" %>
<h2 class="page-title">Todo Lists</h2>

<% if @todo_lists.size > 0 %>
<ul class="todo-lists list no-bullet">
<%= render partial: "todo_list", collection: @todo_lists %>
</ul>

<% else %>

  <%= render partial: "blank_slate" %>

<% end %>